<header id="header">
   <div class="inner">
      <!-- Logo -->
      <a href="{{ url_for('index') }}" class="logo" style="display: flex; align-items: center;">
         <img src="{{ url_for('static', filename='assets/images/OakLedger_Logo.png') }}" alt="OakLedger" style="height: 80px; width: auto;">
      </a>
      <!-- Nav -->
      <nav>
         <ul>
            <li><a href="#menu">Menu</a></li>
         </ul>
      </nav>
   </div>
</header>

<nav id="menu">
   <h2>Menu</h2>
   <ul>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('generic') }}">Financial Health</a></li>
      <li><a href="{{ url_for('goals') }}">Goals</a></li>
      <li><a href="{{ url_for('credit') }}">Credit & Debt Advisor</a></li>
      <li><a href="{{ url_for('invest') }}">Investment Guidance</a></li>
      <li><a href="{{ url_for('elements') }}">Elements</a></li>
   </ul>
</nav>

